@import "../utils/variables";

.navbar {
    background-color: $blueLight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8em;
    padding-left: 2rem;
    padding-right: 2rem;
    .icon-home img{
        width: 5em;
    }
    .logo{
        display: flex;
        align-items: center;
        img {
            width: 3.5em;
        }
        h1 {
            font-size: 1.8rem;
            padding-left: 1rem;
            margin-bottom: 0;
        }
    }
    .account {
        display: flex;
        align-items: center;
        .text {
            display: flex;
            flex-direction: column;
            a {
                text-decoration: none;
                color: $secondary;
                &:hover {
                    color: $primary;
                }
            }
        }
        .icon img{
            width: 5em;
        }
    }
}