@import "../utils/variables";

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'gilroylight', sans-serif;
    color: $secondary;
}

// TITLE
h1 {
    font-family: 'gilroyextrabold', sans-serif;
    color: $primary;
    font-size: 3rem;
}

h2, h3 {
    font-family: 'gilroyextrabold', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

// BUTTON
.btn {
    padding: {
        left: 2.5rem;
        right: 2.5rem;
        top: 1rem;
        bottom: 1rem;
    }
    font-family: 'gilroyextrabold', sans-serif;
    border-radius: 7px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $primary;
        border-color: $primary;
    }
}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    background-color: $light;
    &:hover {
        color: $primary;
        border-color: $primary;
        background-color: $light;
    }
}

// INPUT
form {
    .form-floating {
        input {
            background-color: $light;
            border-color: $secondary;
            border-radius: 7px;
        }
    }
}
.form-control:focus {
    background-color: $light;
}
