@font-face {
  font-family: 'gilroyextrabold';
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"), url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html {
  scroll-behavior: smooth; }

body {
  font-family: 'gilroylight', sans-serif;
  color: #3A405F; }

h1 {
  font-family: 'gilroyextrabold', sans-serif;
  color: #0D84DA;
  font-size: 3rem; }

h2, h3 {
  font-family: 'gilroyextrabold', sans-serif; }

h2 {
  font-size: 2.5rem; }

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'gilroyextrabold', sans-serif;
  border-radius: 7px; }

.btn-primary {
  background-color: #0D84DA;
  border-color: #0D84DA; }
  .btn-primary:hover {
    background-color: #0D84DA;
    border-color: #0D84DA; }

.btn-danger {
  background-color: #E57676;
  border-color: #E57676; }

.btn-outline-primary {
  color: #0D84DA;
  border-color: #0D84DA;
  background-color: #F7F8FA; }
  .btn-outline-primary:hover {
    color: #0D84DA;
    border-color: #0D84DA;
    background-color: #F7F8FA; }

form .form-floating input {
  background-color: #F7F8FA;
  border-color: #3A405F;
  border-radius: 7px; }

.form-control:focus {
  background-color: #F7F8FA; }

.form-scrap form div input, .form-scrap form div select {
  background-color: #F7F8FA;
  border-color: #3A405F;
  border-radius: 7px; }

a {
  text-decoration: none;
  color: #3A405F; }

.h2-titlePage {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.navbar {
  background-color: #E2F0FB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8em;
  padding-left: 2rem;
  padding-right: 2rem; }
  .navbar .icon-home img {
    width: 5em; }
  .navbar .logo {
    display: flex;
    align-items: center; }
    .navbar .logo img {
      width: 3.5em; }
    .navbar .logo h1 {
      font-size: 1.8rem;
      padding-left: 1rem;
      margin-bottom: 0; }
  .navbar .account {
    display: flex;
    align-items: center; }
    .navbar .account .text {
      display: flex;
      flex-direction: column; }
      .navbar .account .text a {
        text-decoration: none;
        color: #3A405F; }
        .navbar .account .text a:hover {
          color: #0D84DA; }
    .navbar .account .icon img {
      width: 5em; }

.section-home {
  height: 100vh;
  display: flex; }
  .section-home .content {
    display: flex;
    flex-direction: column; }
    .section-home .content .logo a {
      display: flex;
      align-items: center;
      margin-top: 2rem; }
      .section-home .content .logo a img {
        width: 4em; }
      .section-home .content .logo a h1 {
        padding-left: 1rem;
        margin-bottom: 0; }
    .section-home .content .accessAccount {
      text-align: center;
      margin-top: auto;
      margin-bottom: auto; }
      .section-home .content .accessAccount h2 {
        padding-bottom: 8rem; }
      .section-home .content .accessAccount a {
        margin: 1.5rem; }
  .section-home .image {
    background-image: url("../images/scrap.png");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
    .section-home .image img {
      width: 100%;
      height: 100%; }

.section-home .content {
  display: flex;
  flex-direction: column; }
  .section-home .content .accessAccount {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto; }
    .section-home .content .accessAccount h2 {
      padding-bottom: 8rem; }
    .section-home .content .accessAccount button {
      margin: 1.5rem; }
    .section-home .content .accessAccount form {
      width: 70%;
      margin: auto; }
      .section-home .content .accessAccount form button:hover {
        background-color: #0D84DA;
        border-color: #0D84DA;
        color: #F7F8FA; }

.section-home .content .accessAccount h2 {
  padding-bottom: 4rem; }

.h2-dashboard {
  text-align: center;
  margin-top: 6rem; }

.menu {
  margin-top: 8rem;
  display: flex;
  justify-content: space-evenly; }
  .menu .card {
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F8FA;
    border-color: #F7F8FA;
    filter: drop-shadow(4px 4px 16px rgba(58, 64, 95, 0.15));
    border-radius: 7px; }
    .menu .card h3 {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 3rem; }
    .menu .card:hover {
      background-color: #0D84DA;
      color: #F7F8FA; }

.form-scrap {
  width: 40%;
  margin: auto; }
  .form-scrap button {
    margin-top: 3rem;
    text-align: center; }

.form-account {
  width: 40%;
  margin: auto; }
  .form-account form div input {
    background-color: #F7F8FA;
    border-color: #3A405F;
    border-radius: 7px; }
  .form-account form .input-group button {
    background-color: #3A405F;
    border-color: #3A405F;
    font-family: 'gilroylight', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .form-account .button-update-delete {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between; }
    .form-account .button-update-delete #validate {
      display: none; }

/*# sourceMappingURL=style.css.map */
